In [ ]:
!pip install pymysql

In [1]:
import sqlalchemy
import pymysql
import pandas as pd
import time

In [2]:
from datetime import datetime, timedelta

yesterday = datetime.now() - timedelta(days=1)
yesterday = yesterday.strftime('%Y-%m-%d')
yesterday

'2022-02-10'

# Read six tables

In [3]:
# Connect to db

engine = sqlalchemy.create_engine('mysql+pymysql://lcarasel20:RlAs20el1YcyeQk@soluta-mysql-db.cdhwmpdro3xs.ap-south-1.rds.amazonaws.com:3306/gds_database')

In [ ]:
# query2 = 'SHOW COLUMNS FROM gds_database.gds_processing_transactions;'

### Tables

In [ ]:
# Read yesterday's data from the six tabes and append to each dataframe

# sales_query = f"SELECT * FROM gds_sale_transactions WHERE transaction_date = '{yesterday}'"
# purchase_query = f"SELECT * FROM gds_purchase_transactions WHERE transaction_date = '{yesterday}'"
# mach_rent_query = f"SELECT * FROM gds_machine_rent_transactions WHERE transaction_date = '{yesterday}'"
# mach_purchase_query = f"SELECT * FROM gds_machine_purchase_transactions WHERE transaction_date = '{yesterday}'"
# processing_query = f"SELECT * FROM gds_processing_transactions WHERE transaction_date = '{yesterday}'"
# expenses_query = f"SELECT * FROM gds_expense_transactions WHERE transaction_date = '{yesterday}'"

In [ ]:
# functions which takes the input query and column names for the dataframe and returns yesterday's data as dataframe

# def read_data(query, cols):

#   df = pd.DataFrame(columns=cols)

#   with engine.connect() as con:
    
#     tic = time.time()
#     rs = con.execute(query)
#     for row in rs:
#         a = list(row)
#         df_row = pd.Series(a, index=cols)
#         df = df.append(df_row, ignore_index=True)
#     toc = time.time()
#     print(toc - tic, ' seconds')

#     return df

In [ ]:
# read tables using read_data method

# sales = read_data(sales_query, sales_cols)
# purchasing = read_data(purchase_query, purchase_cols)
# mach_rent = read_data(mach_rent_query, mach_rent_cols)
# mach_pur = read_data(mach_purchase_query, mach_pur_cols)
# expenses = read_data(expenses_query, expenses_cols)
# processing = read_data(processing_query, processing_cols)

In [9]:
# Read full tables if needed

# sales = pd.read_sql_table("gds_sale_transactions", engine)
# purchasing = pd.read_sql_table("gds_purchase_transactions", engine)
# mach_rent = pd.read_sql_table("gds_machine_rent_transactions", engine)
mach_pur = pd.read_sql_table("gds_machine_purchase_transactions", engine)
# expenses = pd.read_sql_table("gds_expense_transactions", engine)
# processing = pd.read_sql_table("gds_processing_transactions", engine)

In [ ]:
users = pd.read_sql_table("gds_users_information", engine)

In [7]:
# util func

def trans_type_lookup(cat):
    trans = 'Unknown'
    if cat == 'Crop':
        trans = 'Crop Buying and Selling'
    elif cat == 'Machinery':
        trans = 'Machinery Buying Selling'
    else:
        trans = 'Agri Inputs Selling'
    return trans

# To Master Data

In [ ]:
cols =  ['transaction_id', 'user_id', 'user', 'user_type', 'franchisee', 'transaction_type',
       'transaction_type_level_2', 'date_of_transaction',
       'customer_name', 'phone_number', 'customer_id', 'market_type',
       'product_id', 'product', 'product_category', 'quantity',
       'unit_type', 'unit_price', 'product_amount', 'paid_amount',
        'currency_rate', 'paid_amount_usd', 'country', 'region', 'revenue', 'revenue_usd', 'cogs', 'profit', 'profit_usd', 'expenses_usd', 'machine_purchase_usd', 'processing_usd', 'version']

## Sales

In [ ]:
sales.columns

In [ ]:
sales.sample()

In [ ]:
# sales

new_df = pd.DataFrame()

# transaction features
tic = time.time()

new_df['transaction_id'] = sales['transaction_id']
new_df['country'] = sales['country_name']
new_df['transaction_type_level_2'] = 'Sale'
new_df['date_of_transaction'] = pd.to_datetime(sales['transaction_date'])
new_df['transaction_type'] = sales['category'].apply(trans_type_lookup)

# Product
new_df['product'] = sales['product']
new_df['product_category'] = sales['category']
new_df['product_id'] = sales['product_id']

print('Here')

# customer info
new_df['customer_id'] = sales['customer_id']
new_df['customer_name'] = sales['customer_name']
new_df['phone_number'] = sales['customer_mobile']
new_df['market_type'] = sales['market_type']

# basic info
new_df['quantity'] = sales['quantity'].astype(int)
new_df['unit_type'] = sales['unit_type']
new_df['unit_price'] = sales['unit_price'].astype(float)

# hub info
new_df['user_id'] = sales['user_id']
new_df['user'] = sales['user_name']
new_df['user_type'] = sales['user_type']
new_df['region'] = sales['user_region']
new_df['franchisee'] = sales['parent_name']

# acc numbers
new_df['currency_rate'] = sales['currency_exchange_rate'].astype(float)
new_df['paid_amount'] = sales['paid_amount'].astype(float)
new_df['product_amount'] = sales['product_amount'].astype(float)
new_df['paid_amount_usd'] = new_df['paid_amount'] / new_df['currency_rate']
new_df['revenue'] = new_df['paid_amount']
new_df['revenue_usd'] = new_df['paid_amount_usd']
new_df['cogs'] = sales['cogs_amount'].astype(float)
new_df['profit'] = new_df['revenue'] - new_df['cogs']
new_df['profit_usd'] = new_df['profit'] / new_df['currency_rate']

new_df['version'] = sales['version']

toc = time.time()
print(toc - tic, ' seconds')
new_df.to_csv("sale_mustafa.csv", index=False)
# sales_flagged = pd.DataFrame.copy(new_df)

## Purchase

In [ ]:
purchasing.sample()

In [ ]:
# purchase
 
new_df = pd.DataFrame()
tic = time.time()
 
# transaction features
new_df['transaction_id'] = purchasing['transaction_id']
new_df['country'] = purchasing['country_name']
new_df['transaction_type_level_2'] = 'Purchase'
new_df['date_of_transaction'] = pd.to_datetime(purchasing['transaction_date'])
new_df['transaction_type'] = purchasing['category'].apply(trans_type_lookup)
 
# Product
new_df['product'] = purchasing['product']
new_df['product_category'] = purchasing['category']
new_df['product_id'] = purchasing['product_id']
 
# customer info
new_df['customer_id'] = purchasing['supplier_id']
new_df['customer_name'] = purchasing['supplier_name']
new_df['phone_number'] = purchasing['supplier_mobile']
new_df['market_type'] = purchasing['market_type']
 
# basic info
new_df['quantity'] = purchasing['quantity'].astype(int)
new_df['unit_type'] = purchasing['unit_type']
new_df['unit_price'] = purchasing['unit_price'].astype(float)
 
# hub info
new_df['user_id'] = purchasing['user_id'].astype(str)
new_df['user'] = purchasing['user_name']
new_df['user_type'] = purchasing['user_type']
new_df['region'] = purchasing['user_region']
new_df['franchisee'] = purchasing['parent_name']
 
# acc numbers
new_df['currency_rate'] = purchasing['currency_exchange_rate'].astype(float)
new_df['paid_amount'] = purchasing['paid_amount'].astype(float)
new_df['product_amount'] = purchasing['product_amount'].astype(float)
new_df['paid_amount_usd'] = new_df['paid_amount'] / new_df['currency_rate']

new_df['purchase'] = new_df['paid_amount']
new_df['purchase_usd'] = new_df['paid_amount_usd']
 
new_df['version'] = purchasing['version']
 
toc = time.time()
print(toc - tic, ' seconds')
 
# purchasing_flagged = pd.DataFrame.copy(new_df)
new_df.to_csv("purchase_mustafa.csv", index=False)

## Machine Rent

In [ ]:
mach_rent.sample()

In [ ]:
# machine rent

new_df = pd.DataFrame()

tic = time.time()

# transaction features
new_df['transaction_id'] = mach_rent['transaction_id']
new_df['country'] = mach_rent['country_name']
new_df['transaction_type_level_2'] = 'Machinery Rental'
new_df['date_of_transaction'] = pd.to_datetime(mach_rent['transaction_date'])

new_df['transaction_type'] = 'Farm Machinery Rental'

# Product
new_df['product'] = mach_rent['product']
new_df['product_category'] = mach_rent['category']
new_df['product_id'] = mach_rent['product_id']

# customer info
new_df['customer_id'] = mach_rent['customer_id']
new_df['customer_name'] = mach_rent['customer_name']
new_df['phone_number'] = mach_rent['customer_mobile']
new_df['market_type'] = 'Farmer'

# basic info
new_df['quantity'] = mach_rent['quantity'].astype(int)
new_df['unit_type'] = mach_rent['unit_type']
new_df['unit_price'] = mach_rent['unit_price'].astype(float)

# hub info
hub_comb_df = pd.DataFrame()
new_df['user_id'] = mach_rent['user_id'].astype(str)
new_df['user'] = mach_rent['user_name']
new_df['user_type'] = mach_rent['user_type']
new_df['region'] = mach_rent['user_region']
new_df['franchisee'] = mach_rent['parent_name']

# acc numbers
new_df['currency_rate'] = mach_rent['currency_exchange_rate'].astype(float)
new_df['paid_amount'] = mach_rent['paid_amount'].astype(float)
new_df['product_amount'] = mach_rent['amount'].astype(float)
new_df['paid_amount_usd'] = new_df['paid_amount'] / new_df['currency_rate']
new_df['revenue'] = new_df['paid_amount']
new_df['revenue_usd'] = new_df['paid_amount_usd']
new_df['profit'] = new_df['paid_amount']
new_df['profit_usd'] = new_df['paid_amount_usd']

new_df['version'] = mach_rent['version']

toc = time.time()
print(toc - tic, ' seconds')

# machine_rent_flagged = pd.DataFrame.copy(new_df)
new_df.to_csv("machine_rent_mustafa.csv", index=False)

## Processing

In [ ]:
processing.sample()

In [ ]:
# processing
new_df = pd.DataFrame()
 
# transaction features
tic = time.time()
 
new_df['transaction_id'] = processing['transaction_id']
new_df['country'] = processing['country_name']
new_df['transaction_type_level_2'] = 'Processing'
new_df['date_of_transaction'] = pd.to_datetime(processing['transaction_date'])
 
new_df['transaction_type'] = 'Agri Inputs Selling'
 
# Product
new_df['product'] = processing['product']
new_df['product_category'] = processing['category']
new_df['product_id'] = processing['product_id']
 
print('Here')
 
# customer info
# new_df['customer_id'] = sales['customer_id']
# new_df['customer_name'] = sales['customer_name']
# new_df['phone_number'] = sales['customer_mobile']
new_df['market_type'] = "Farmers' Hub"
 
# basic info
new_df['quantity'] = processing['quantity'].astype(int)
new_df['unit_type'] = processing['unit_type']
new_df['unit_price'] = processing['unit_price'].astype(float)
 
# hub info
new_df['user_id'] = processing['user_id'].astype(str)
new_df['user'] = processing['user_name']
new_df['user_type'] = processing['user_type']
new_df['region'] = processing['user_region']
new_df['franchisee'] = processing['parent_name']
 
# usd numbers
new_df['paid_amount'] = processing['amount'].astype(float)
new_df['product_amount'] = new_df['paid_amount']
new_df['currency_rate'] = processing['currency_exchange_rate'].astype(float)
new_df['paid_amount_usd'] = new_df['paid_amount'] / new_df['currency_rate']
new_df['processing_usd'] = new_df['paid_amount_usd']
 
new_df['version'] = processing['version']

new_df['proessing'] = new_df['paid_amount']
 
toc = time.time()
print(toc - tic, ' seconds')
 
# processing_flagged = pd.DataFrame.copy(new_df)
new_df.to_csv("processing_mustafa.csv", index=False)

## Expenses

In [5]:
expenses.sample()

,user_id,country_name,user_name,user_type,parent_name,transaction_id,transaction_date,expense_category,expense_type,total_amount,business_category,product_category_id,product_category,version,user_join_date,user_region,currency_exchange_rate
1232,494,Bangladesh,Nuton Hawli Farmers' Hub,Farmer Hub,SEBA AgroTech and Seeds Limited,7998,2021-10-11,Direct Cost,Gasoline,300.0,Crop Buying and Selling,5e5dff85cc6e8b06b9147dd6,Crop,1,2020-08-23 10:48:55,Chuadanga,85.52

In [8]:
# expenses

new_df = pd.DataFrame()
# transaction features
tic = time.time()
 
new_df['transaction_id'] = expenses['transaction_id']
new_df['country'] = expenses['country_name']
new_df['transaction_type_level_2'] = 'Expense'
new_df['date_of_transaction'] = pd.to_datetime(expenses['transaction_date'])
new_df['transaction_type'] = expenses['expense_category'].apply(trans_type_lookup)
 
# Product
new_df['product'] = expenses['expense_type']
new_df['product_category'] = expenses['expense_category']
# products_comb_df = pd.DataFrame()
# products_comb_df['Combined'] = new_df['Product'] + ":" + new_df['Product Category']
# products_comb_df['ID'] = products_comb_df['Combined'].apply(product_id_lookup_combined)
# new_df['Product ID'] = products_comb_df['ID']
 
print('Here')
 
# customer info
# new_df['Customer ID'] = sales['customer_id']
# new_df['Customer Name'] = sales['customer_name']
# new_df['Phone Number'] = sales['customer_mobile']
new_df['market_type'] = "Farmers' Hub"
 
 
# hub info
new_df['user_id'] = expenses['user_id'].astype(str)
new_df['user'] = expenses['user_name']
new_df['user_type'] = expenses['user_type']
new_df['region'] = expenses['user_region']
new_df['franchisee'] = expenses['parent_name']
 
# usd numbers
new_df['paid_amount'] = expenses['total_amount'].astype(float)
new_df['product_amount'] = new_df['paid_amount']
new_df['currency_rate'] = expenses['currency_exchange_rate'].astype(float)
new_df['paid_amount_usd'] = new_df['paid_amount'] / new_df['currency_rate']
new_df['expenses_usd'] = new_df['paid_amount_usd']

new_df['expenses'] = new_df['paid_amount']
 
new_df['version'] = expenses['version']
 
toc = time.time()
print(toc - tic, ' seconds')
# expenses_flagged = pd.DataFrame.copy(new_df)
new_df.to_csv("expense_mustafa.csv", index=False)

Here
0.03393411636352539  seconds

## Machine Purchase

In [ ]:
mach_pur.sample()

In [10]:
# machine purchase
 
new_df = pd.DataFrame()
tic = time.time()
 
# transaction features
new_df['transaction_id'] = mach_pur['transaction_id']
new_df['country'] = mach_pur['country_name']
new_df['transaction_type_level_2'] = 'Machinery'
new_df['date_of_transaction'] = pd.to_datetime(mach_pur['transaction_date'])
 
new_df['transaction_type'] = 'Machinery Buying Selling'
 
# Product
new_df['product'] = mach_pur['product']
new_df['product_category'] = mach_pur['category']
new_df['product_id'] = mach_pur['product_id']
 
# customer info
new_df['customer_id'] = mach_pur['supplier_id']
new_df['customer_name'] = mach_pur['supplier_name']
new_df['phone_number'] = mach_pur['supplier_mobile']
new_df['market_type'] = 'Farmer'
 
# basic info
new_df['quantity'] = mach_pur['quantity'].astype(int)
new_df['unit_price'] = mach_pur['unit_price'].astype(float)
 
# hub info
hub_comb_df = pd.DataFrame()
new_df['user_id'] = mach_pur['user_id'].astype(str)
new_df['user'] = mach_pur['user_name']
new_df['user_type'] = mach_pur['user_type']
new_df['region'] = mach_pur['user_region']
new_df['franchisee'] = mach_pur['parent_name']
 
# usd numbers
new_df['paid_amount'] = mach_pur['paid_amount'].astype(float)
new_df['product_amount'] = mach_pur['total_amount'].astype(float)
new_df['currency_rate'] = mach_pur['currency_exchange_rate'].astype(float)
new_df['paid_amount_usd'] = new_df['paid_amount'] / new_df['currency_rate']
new_df['machine_purchase_usd'] = new_df['paid_amount_usd']
 
new_df['version'] = mach_pur['version']

new_df['machine_purchase'] = new_df['paid_amount']
 
toc = time.time()
print(toc - tic, ' seconds')
 
# mach_pur_flagged = pd.DataFrame.copy(new_df)
new_df.to_csv("machine_purchase_mustafa.csv", index=False)

0.09721136093139648  seconds

# Compile all and write to SQL

In [ ]:
# combine all
bd_data_all = pd.DataFrame(columns = cols)
bd_data_all = bd_data_all.append(other = sales_flagged, ignore_index=True)
bd_data_all = bd_data_all.append(other = purchasing_flagged, ignore_index=True)
bd_data_all = bd_data_all.append(other = mach_pur_flagged, ignore_index=True)
bd_data_all = bd_data_all.append(other = machine_rent_flagged, ignore_index=True)
bd_data_all = bd_data_all.append(other = processing_flagged, ignore_index=True)
bd_data_all = bd_data_all.append(other = expenses_flagged, ignore_index=True)

In [ ]:
df = pd.DataFrame.copy(bd_data_all)

In [ ]:
# Write to SQL database and replace the whole table
# df.to_sql('master_data', con=engine, if_exists='replace', index=False)

# Write to SQL database and append to table
# df.to_sql('master_data', con=engine, if_exists='append', index=False)

# Version Control

In [ ]:
# df['version'] = df['version'].astype(int)
# v_max = df['version'].max()

# if v_max > 1:

# df = pd.read_sql_table("master_data", engine)
df['version'] = df['version'].astype(int)
df_subset = df[df['version'] > 1]
df_subset = df_subset[['transaction_id', 'version']]

trans = df_subset['transaction_id'].unique()

if len(trans) > 0:
  for t in trans:
    df_subset2 = df[df['transaction_id'] == t]
    v_min = df_subset2['version'].min()
    df_subset3 = df_subset2[df_subset2['version'] == v_min]
    inds = df_subset3.index
    df = df.drop(inds)

# Data Cleaning

In [ ]:
df['profit_v2'] = df['profit'].astype(float)
df['profit_usd_v2'] = df['profit_usd'].astype(float)

df_subset = df[df['revenue_usd'] == 0]
df.at[df_subset.index, 'profit_usd_v2'] = 0
df.at[df_subset.index, 'profit_v2'] = 0

In [ ]:
df_subset = df[df['profit_usd_v2'] < 0]
df.at[df_subset.index, 'profit_usd_v2'] = 0
df.at[df_subset.index, 'profit_v2'] = 0

In [ ]:
# temporarily assigning to Rajshahi

df_subset2 = df[ (df['franchisee'] == 'Sustainable Agriculture Solution (SAS)') &  (df['region'] == 'Timor Tengah Selatan')]
df.at[df_subset2.index, 'region'] = 'Rajshahi'

In [ ]:
# assign seasons

df_subset = df[ (df['date_of_transaction'].dt.month <= 3) | (df['date_of_transaction'].dt.month >= 10) ]
df.at[df_subset.index, 'season'] = 'Robi'

df_subset = df[ (df['date_of_transaction'].dt.month >= 4) & (df['date_of_transaction'].dt.month <= 6) ]
df.at[df_subset.index, 'season'] = 'Kharif I'

df_subset = df[ (df['date_of_transaction'].dt.month >= 7) & (df['date_of_transaction'].dt.month <= 9) ]
df.at[df_subset.index, 'season'] = 'Kharif II'

In [ ]:
df_users = df['user_id'].unique()
df['branch'] = 'Unknown'

for user_id in df_users:

  branch = users[users['user_id'] == int(user_id)]['branch'].iloc[0]
  df_subset = df[df['user_id'] == user_id]
  df.at[df_subset.index, 'branch'] = branch

In [ ]:
# df['revenue'] = df['revenue'].astype(float)
# df['revenue_usd'] = df['revenue_usd'].astype(float)

# df['profit'] = df['profit'].astype(float)
# df['profit_usd'] = df['profit_usd'].astype(float)

# df['expenses_usd'] = df['expenses_usd'].astype(float)
# df['machine_purchase_usd'] = df['machine_purchase_usd'].astype(float)

# df['processing_usd'] = df['processing_usd'].astype(float)
# df['cogs'] = df['cogs'].astype(float)
# df['quantity'] = df['quantity'].astype(float)

# Access Control

In [ ]:
# Read access control list from Google sheets

# df = pd.read_sql_table("master_data", engine)

sheet_id = '1c-GLYArcW7sxikEAQ5wtBDGXmm92UycNHXYm41O7JLg'
df_access = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv")

In [ ]:
df_access

In [ ]:
franchisees = df_access['franchisee'].unique()

for f in franchisees:
  email = df_access[df_access['franchisee'] == f]['email'].iloc[0]
  df_subset = df[ df['franchisee'] == f]
  df.at[df_subset.index, 'email'] = email

In [ ]:
df.to_sql('master_data', con=engine, if_exists='replace', index = False)

In [ ]:
df['profit'].sum()

In [ ]:
df['season'].value_counts()